// PADDING

@mixin element--padding-full($padding-top, $padding-right, $padding-bottom, $padding-left){
	padding-top: $padding-top;
	padding-right: $padding-right;
	padding-bottom: $padding-bottom;
	padding-left: $padding-left;
}

@mixin element--padding-vertical($padding-top, $padding-bottom){
	padding-top: $padding-top;	
	padding-bottom: $padding-bottom;
}



//MARGIN

@mixin element--margin-full($margin-top, $margin-right, $margin-bottom, $margin-left){
	margin-top: $margin-top;
	margin-right: $margin-right;
	margin-bottom: $margin-bottom;
	margin-left: $margin-left ;
}

@mixin element--margin-vertical($margin-top, $margin-bottom){
	margin-top: $margin-top;	
	margin-bottom: $margin-bottom;
}

// BACKGROUND

@mixin background{
	background: no-repeat center center;
	background-size: cover;	
}
