// TYPE

$font-family-sans-serif:    'Roboto', Arial, sans-serif;
$headings-font-family:      $font-family-sans-serif;
$text-color:                #454848;

// CTA

$btn-primary-bg:            #9c27b0;

//PADDINGS

$padding-standart-top:       20px;
$padding-standart-bottom:    20px;
$padding-text-bottom:        40px;   
