// TYPE

$font-family-sans-serif:    'Roboto', Arial, sans-serif;
$headings-font-family:      $font-family-sans-serif;
$text-color:                #454848;

// CTA

$btn-primary-bg:            #9c27b0;