// IMPORT

@import "_bootstrap.scss";


// GLOBAL

html{
	
	font-family: $font-family-sans-serif;
	font-weight: 400;
}

body{
	
	font-family: $font-family-sans-serif;
	font-weight: 400;
}

// HEADINGS

.heading{

	&-primary{
		font-size: 4em; //56:14

		&--light{
			color:#bcbebe;
		}
	}

	&-secondary{
		font-size: 2.428571429em; //34:14

		&--dark{
			color: #424242;
		}

		&--light{
			color: #4B4E4F;
		}		

	}

	&-tertiary{
		font-size: 1.714285714em; //24:14
		
		&--dark{
			color: #616161;
		}

	}

	&-quinary{
		font-size: 1.428571429em; //20:14

		&--dark{
			color: #202020;
		}
		
	
	}

	&-senary{
		font-size: 1.142857143em; //16:14

		&--dark{
			color: #2A2D2E;
		}
	
	}

}

// MARGINS

.margin{
	&--xsmall{
		@include element--margin-vertical(0, 30px);
	}

	&--small{
		@include element--margin-vertical(0, 35px);
	}

	&--medium{
		@include element--margin-vertical(0, 40px);
	}

	&--big{
		@include element--margin-vertical(0, 45px);
	}

	&--xbig{
		@include element--margin-vertical(0, 55px);
	}
}

//PADDINGS
.padding{

	&--xxsmall{
		@include element--padding-vertical(75px, 0);
	}	

	&--xsmall{
		@include element--padding-vertical(75px, 30px);
	}

	&--small{
		@include element--padding-vertical(35px, 75px);
	}

	&--medium{
		@include element--padding-vertical(75px, 45px);
	}
	&--big{
		@include element--padding-vertical(75px, 50px);
	}

	&--xbig{
		@include element--padding-vertical(60px, 60px);
	}

	&--xxbig{
		@include element--padding-vertical(75px, 65px);
	}	

	
}

// BACKGROUNDS

.bg{
	
	&--sub{
		background-color: #fafafa;
	}

	&--form{
		background-color: #f6f6f6;
	}
}

// FORM

.form{
	text-align: center;

	&-holder{
		color:#202020;
		@include element--padding-full(30px, 0, 15px, 0);
		margin-top:25px;
		margin-bottom:15px;		
	}

	

	&__item{

		&-holder{			
			text-align: left;
			@include element--margin-full(0, 0, 15px, 0);
			
			
		}
	}	
		
	&__label{
		font-size: 0.8571428571em;
		color: #A0A1A1;
		
	}

	&__input-text{
		font-size: 1.142857143em;
		width: 100%;
		display: block;
		border:none;
		border-bottom: 1px solid #9a9b9b;
		background: transparent;
		outline: none;
	}

	&__heading{
		@include element--margin-full(0, 0, 40px, 0);
	}
	
}

// CTA

.btn{

	border:none;
	border-radius: 2px;
	
	&--cta{
	text-transform:uppercase;
	@include element--padding-full(10px, 15px, 10px, 15px);
	font-size: 1.14285714em;
	@include element--margin-full(10px, 0, 10px, 0);
	}

	&--scroll{
		color: #FFF;
		font-size: 2.4em;
		&:hover,
		&:focus,
		&:active{
			color: #f6f6f6;
		}

		

		
	}
}

// HEADER

.header{

	@include element--padding-full(10px, 0, 10px, 0);

	&--top{
		text-align: center;
	}

	&--bottom{
		text-align: center;
		&__text{
			color: #efefef;
			font-size: 1.142857143em;
			
		}
	}
	
	&__heading{
		font-weight: 300;
		@include element--margin-full(0, 0, 15px, 0);
	}
}

// LOGO

.logo{
	display: inline-block;
	@include element--margin-full(15px, 0, 10px, 0)
}


// THUMBNAILS

.thumbnail{
	&--custom{
		border:none;
		margin-bottom: 0;
		padding: 0;
	}

	.caption {
    padding: 0;
    color: inherit;
    
	}
	>img{
		margin-left: 0;
		margin-right: 0;
		display: inline-block;
	}

}

// FEATURES

.features{
	text-align: center;
	
	&__content{
		@include element--padding-vertical(40px, 0)
	}

	&__tab{
		
		&-link{
			text-align: center;			
		}
	}
	
	&__icon{
				
		font-size: 35px;   	
	}

	&__info{
		&-holder{
			overflow: hidden;
		}
	}
	
	&__heading{
		@include element--padding-full(10px, 10px, 10px, 10px)
	}

}

.features__tab.active .features__icon:before{
	background: #202020;
	border-radius:50%;
	color:#fff;
	
}

.nav{
	li{
		.active{
			background-color: transparent;
		}
		a{
			padding: 0;
		}
	}
}

.nav-tabs{
	border:none;
	>.features__tab{
		float: none;
		.features__tab{
			&-link{
				border:none;
				color: inherit;
				&:hover,
				&:focus{
					background-color: transparent;
					border:none;
				}
			}
		}
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:none;
	background-color: transparent;
}

.tab-content{
	display: inline-block;
}

// FAQ

.faq{
	&__question{
		@include element--padding-vertical(50px, 0);
	}
}



// CAROUSEL

.carousel{

	&--main{

		&__item{

			@include background;
			height: 300px;	
		}

		
	}

	&--clients{
		&__item{
			@include background;
			height: 200px;	
		}

		
	}

	&__testimonials{
		.item{
			img{
				display: block;
				  width: 100%;
				  height: auto;
			}
		}

		.owl-pagination{

			.owl-page{		
				span{

					&:hover,
					&:active{
					background: #000;
					border: 2px solid #000;
					}

					background: transparent;
					border: 2px solid #868686;
				}

				&.active{
					span{
						background: #000;
						border: 2px solid #000;
					}
				}

				
			}
		}


	}

}




//TESTIMONIALS

.testimonials{

	

	&__citation{

		&:before,
		&:after{
			content:"\0022";
		}
	}

	&__author{
		
		font-weight: 300;
		
		
	}

	&__img{
		width: 100px;
		height: 100px;
		border: none;
		border-radius: 50%;
		@include background;
			
	}
}



//BACK TO TOP BTN

.back-to-top{
	
	position: fixed;
	bottom: 0;
	right: .5%;
	display: none;
	z-index: $zindex-tooltip;
}

// BACKGROUND

.background{
	@include background;		
}

//  MAIN

.main{
	text-align: center;
}
 
@media (min-width: $screen-sm) {


	// CALL TO ACTION



	// MAIN
	.main{
		&--lg{
			text-align: -webkit-auto;
		}
		
	}

	// FEATURES
	.features{
		&__icons{
			&-holder{
				float: left;
			}
		}

		&__tab{
			&-link{
				text-align: left;
			}
		}
	}

	//PULL LEFT
	
	.pull-sm-left{
		float:left;
	} 
	
}